body {
  background-image: surgery.png;
  display: block;
  padding: 6px;
  margin: 4px;
}

header {
  padding: 40px;
  text-align: center;
  background: #f9f7f7;
  margin: 30px;
  font-size: 20px;
}

h1 {
  color:blue
  text-align: center;
  font-size: 40px; 
}
nav {
  color: aquamarine;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f9f7f7;
}
li {
  float: left;
}

li a {
  display: block;
  color:blue
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.covid_update {
  display: inline-block;
  blackground-color: aquamarine;
  width: 30%;
  padding: 5px;
  text-align: left;
}

.welcome{
  display: inline-block;
  width: 30%;
  padding: 5px;
  test-align: center;
  background-color:antiquewhite;
}

.how_to_video{
  display: inline-block;
  width: 30%;
  padding: 5px;
  test-align: center;
  background-color:bisque;
}